@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  body {
    padding: 20px;
  }
  
}
body{
    background-color: #F3E5D8;
}
#header {
    justify-content: space-between;
    display: flex;
    background-color: #255538;
    align-items: center;
    height: 50px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

#BitCook {
    color: white;
    font-family: "DM Serif Display", serif;
  }
  a{
  
    text-decoration: none;
    font-family:  "DM Sans", sans-serif;
   
    
  }
  main {
    background-color: white;
    width: 100%;
    border-radius: 6px;
    padding: 20px;
    height: fit-content;
  }
  #bloque-2{
  
    width: 100%;
    border-radius: 6px;
    padding: 20px;
    height: fit-content;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  #bloques{
    background-color: white;
    padding: 20px;
  }

  #preparationtime{
    background-color:#FFF7FC ;
  }
  .content{
    color: #7E4333;
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 54.84px;
    text-align: left;
    margin: o auto;
    padding: 20px;
  }
  p{
    font-family:"DM Sans", sans-serif ;
  }
  ol {
    color: black;
    margin: 2 auto;
    font-family:"DM Sans", sans-serif ;
  }
  .container{
    display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-areas:
   "bloque-1 bloque-2" ;
   gap: 20px;
   max-width: 1240px;
   margin: 0 auto;
  }
  #bloque-1{
    grid-area: bloque-1 ;
  }
  #bloque-2{
    grid-area:bloque-2 ;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.item-imagen{
  background-image: url(../imagenes/imagen-proyecto.png);
  align-items: center;
  align-content: center;
  height: 368px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 20px;
  background-size: cover;
  background-position-y: center;
  margin: 28px auto;   
  object-fit: contain;
}
li{
  font-family:"DM Sans", sans-serif  ; 
}
#morerecipes div h3, #morerecipes div p{
    color: black;
    font-family: "DM Sans", sans-serif ;
}
#morerecipes div h3{
font-family: "DM Serif Display", serif ;
}
.tabla {
 justify-content: space-between;
 padding: 20px 25px;
 font-family:"DM Sans", sans-serif  ;
 width: 100%;
  border: 1px #7E4333;
  
}
.tabla  th {
    border-bottom: 1px solid #7E4333;
}
#macros{
    font-family: "DM Sans", sans-serif ;
    text-decoration: none;
    font: 1em sans-serif;
}

#Morerecipes{
  color: #7E4333;
   
}

.contenedor {
  width: 400px;
  height: 37px; 
  margin: 0 auto; 
  flex-direction: column;
  flex-wrap: wrap;
  align-content:space-around;
  
}

#morerecipes{
    background-color: white;
    padding: 20px;
    border-radius: 5px;

}
#morerecipes a img{
width:80px ;
height: 80px;
}
#morerecipes a{
    display: flex;
   margin-bottom: 20px;
}

#footer {
  justify-content: center;
  background-color: #255538;
  color: #ddd;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  flex-wrap: wrap;
  top: 20px;
  left: 20px;
  border-radius: 6px;
  flex-flow: row wrap;
  padding-left: 20px;
  padding-right: 20px;
  align-self: center;
  margin: 10px ;
  justify-content: space-between;
  margin-top: 60px;
}
#Bitcook-2{
  font-family: "DM Serif Display", serif;
}
.año{
font-family:"DM Sans", sans-serif ;
}



